<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src=../../static/js/jquery.min.js></script>
	<script src=../../static/js/bootstrap.min.js></script>
	<link rel="stylesheet" href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../static/css/homepage.css">
	<link rel="shortcut icon" href="../../favicon.ico" type="image/x-icon" />
	<title>杰克雪莉酒|故事就在身边</title>
</head>
<body>
    <div id="titleColumn">
    <div class="container col-md-4" id="titleInformation">一些描述的字</div>
    <div class="container col-md-8" id="mainTitle">一个画廊标题图画，由编辑摘取热门帖子配图<div class="container col-md-4" id="login">一个登陆框</div></div>
	</div>
	<div id="content">
	<div id="contentColumn" class="container col-md-10">
	<div id="contentBox" class="container col-md-8">帖子内容</div>
	<div id="authorBox" class="container col-md-3">作者列表，含作者个人空间超链接</div>
	</div>
	</div>
</body>
</html>